<div class="container">
	<div class="row">
		<div ng-if="dashboard.showPromo(dashboard.promo.current, dashboard.user)">
			<div class="col-xs-12 promobox bg-warning text-warning">
				<h3></span> {{dashboard.promo.current.title}}</h3>
				<p>{{dashboard.promo.current.message}}</p>
				<a class="btn btn-success" ng-hide="dashboard.promo.users[dashboard.user.uid]" href ng-click="dashboard.replyToPromo(dashboard.promo.current, dashboard.user, true)">Estou chegando!</a>
				<em ng-show="dashboard.promo.users[dashboard.user.uid]">Você marcou que está vindo <a href ng-click="dashboard.replyToPromo(dashboard.promo.current, dashboard.user, null)">Não estou indo</a></em>			
			</div>	
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="row">

				<div class="col-xs-12">
					
					<div class="panel panel-info" ng-class="{'panel-info': dashboard.user.bets, 'panel-warning': !dashboard.user.bets}">
						<div class="panel-heading">
							<h3 class="panel-title">
								<span class="glyphicon glyphicon-calendar"></span>
								Últimos Palpites
							</h3>
						</div>
						<div class="panel-body" ng-class="{'bg-warning': !dashboard.user.bets}">
							<div class="match-entry" ng-repeat="match in dashboard.tour.data.matches | orderBy: 'datetime' : true | open: false | noResult | limitTo: 2 as currentMatches">
								<span class="label label-danger" ng-show="dashboard.now > match.datetime - dashboard.timeLimit">MAIS</span><small> {{match.datetime | date: 'dd/MM H:mm'}}</small><br>
								<span class="flag-icon" ng-class="{'flag-icon-{{match.home.ISO}}': true}"></span>
								<a ui-sref="app.match({matchId: match.$id})">
									<span class="hidden-xs">{{match.home.longName}} x {{match.away.longName}}</span>
									<span class="visible-xs-inline">{{match.home.shortName}} x {{match.away.shortName}}</span>
								</a>
								<span class="flag-icon" ng-class="{'flag-icon-{{match.away.ISO}}': true}"></span>
								<strong class="pull-right" ng-show="dashboard.user.bets.matches[match.$id]">
									{{dashboard.user.bets.matches[match.$id].home}} - 
									{{dashboard.user.bets.matches[match.$id].away}}
								</strong>
								<strong class="pull-right text-danger" ng-hide="dashboard.user.bets.matches[match.$id]">
									<span class="glyphicon glyphicon-flash"></span>
									<span class="hidden-xs">Não pontuou</span>
								</strong>
							</div>
							<div class="match-entry" ng-repeat="match in dashboard.tour.data.matches | orderBy: 'datetime' | open: true | limitTo: 4 - currentMatches.length" ng-show="dashboard.user.bets">
								<span class="label label-warning" ng-show="dashboard.now + 3600000 > match.datetime">Partida Realizada</span><small> {{match.datetime | date: 'dd/MM H:mm'}}</small><br>
								<span class="flag-icon" ng-class="{'flag-icon-{{match.home.ISO}}': true}"></span>
								<span class="hidden-xs">{{match.home.longName}} x {{match.away.longName}}</span>
								<span class="visible-xs-inline">{{match.home.shortName}} x {{match.away.shortName}}</span>
								<span class="flag-icon" ng-class="{'flag-icon-{{match.away.ISO}}': true}"></span>
								<strong class="pull-right" ng-show="dashboard.user.bets.matches[match.$id]">
									{{dashboard.user.bets.matches[match.$id].home}} x 
									{{dashboard.user.bets.matches[match.$id].away}}
								</strong>
								<strong class="pull-right text-danger" ng-hide="dashboard.user.bets.matches[match.$id]">
									<span class="glyphicon glyphicon-flash"></span>
									<span class="hidden-xs">Não pontuou</span>
								</strong>
							</div>
							<div class="text-center">
								<button class="btn btn-primary" ui-sref="app.myBets({filter: true})" ng-show="dashboard.user.bets">Palpites Em Aberto</button>
								<button class="btn btn-warning" ui-sref="app.myBets({filter: true})" ng-hide="dashboard.user.bets">Cadastrar Palpites!</button>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xs-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">
								<span class="glyphicon glyphicon-ok-circle"></span>
								Últimas Pontuações</h3>
						</div>
						<div class="panel-body">
							<div ng-hide="matches.length" class="empty-state-message text-center">
								Aqui você verá seus pontos recentemente somados.
							</div>
							<div class="player-entry" ng-repeat="match in dashboard.tour.data.matches | orderBy: 'datetime' : true | result | limitTo: 4 as matches">
								<span class="flag-icon" ng-class="{'flag-icon-{{match.home.ISO}}': true}"></span>
								<a ui-sref="app.match({matchId: match.$id})">
									<span class="hidden-xs">{{match.home.longName}} x {{match.away.longName}}</span>
									<span class="visible-xs-inline">{{match.home.shortName}} x {{match.away.shortName}}</span>
								</a> 
								<span class="flag-icon" ng-class="{'flag-icon-{{match.away.ISO}}': true}"></span>
								
								<span class="pull-right point-label">
									<span class="label label-success" ng-show="dashboard.user.bets.matches[match.$id].points"><span class="glyphicon glyphicon-ok"></span> {{dashboard.user.bets.matches[match.$id].points}} pontos</span>
									<span class="label label-default" ng-hide="dashboard.user.bets.matches[match.$id].points || !match.result"><span class="glyphicon glyphicon-remove"></span> 0 pontos</span>
								</span>
							</div>
							<div class="text-center">
								<button class="btn btn-primary" ui-sref="app.myBets({filter:false})">Jogos Encerrados</button>		
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-md-6">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h3 class="panel-title">
						<span class="glyphicon glyphicon-star-empty"></span>
						Ranking Geral</h3>
				</div>
				<div class="panel-body">
					<ul class="nav nav-tabs" ng-if="dashboard.user.league[1]">
						<li role="presentation" ng-class="{'active': dashboard.leagueFilter === league}" ng-repeat="league in dashboard.user.league"><a href ng-click="dashboard.leagueFilter = league">{{league}} Liga</a></li>
					</ul>
					<div 
						class="player-entry" 
						ng-repeat="player in dashboard.users | orderBy: 'score' : true | league: dashboard.leagueFilter track by player.uid" 
						ng-class="{'text-info player-bold': dashboard.user.uid === player.uid}">
						<span class="player-position">
							{{$index +1}}
						</span>
						<span>
							<span class="glyphicon glyphicon-star-empty" ng-hide="dashboard.user.uid === player.uid" style="color: #fff"></span>
							<span class="glyphicon glyphicon-star" ng-show="dashboard.user.uid === player.uid"></span>
							<a ui-sref="app.public({uid: player.uid})">{{player.name}}</a>
						</span>
						<span class="pull-right">
							{{player.score}} pontos
						</span>
						<hr />
					</div>
				</div>
				<div class="panel-footer">
					<a ui-sref="app.rules">
						<span class="glyphicon glyphicon-question-sign"></span>
						Como funciona a pontuação?
					</a>
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-md-12">
			 <!-- ng-show="dashboard.user.admin"> -->
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Nome</th>
						<th scope="col">Palpites (16/rodada)</th>
						<th scope="col">Pontuação</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="player in dashboard.users | orderBy: 'score' : true | league: dashboard.leagueFilter track by player.uid" >
						<td>{{$index +1}}</td>
						<td>{{player.name}}</td>
						<td>{{dashboard.getObjSize(player.bets.matches)}}</td>
						<td>{{player.score}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		
	</div>
</div>

