<div class="row">
	<div class="col-xs-12">
		<div class="modal-header">
			<h2 class="modal-title">Regras do Bolão da Raça</h2>
		</div>
		<div class="modal-body">
			
			<h4>Sistema de nocaute</h4>

			<ul>
			<li>As partidas serão adicionadas ao sistema após as partidas do grupo e após as rodadas eliminatórias. A adivinhação é normal (5 minutos antes do jogo).</li>
			<li>As dicas referem-se ao tempo de reprodução normal, ou seja, 90 minutos e 120 minutos para uma extensão.</li>
			<li>O 11º duelo não conta para marcar, então se alguém tiver uma dica de empate, ele acha que 11 partidas serão disputadas. Se, por exemplo, 90 minutos após 1-1, mas na prorrogação um gol é marcado, então 2-1 é a ponta direita.</li>
			</ul>

			<h4>Calor de matar (mata mata?)</h4>

			<ul>
			<li>Duas das mesmas pontuações serão encaminhadas, cuja equipe final ganha mais no EB.</li>
			<li>Se esta é a mesma equipe / ele fez o mesmo, o goleiro que marca mais gols conta</li>
			<li>Se esse for o caso, o hit de dois pontos será contado</li>
			</ul>

			<a ui-sref="app.rules" ng-click="ruleModal.closeAlert()">Regulamento do Bolão</a>

		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="ruleModal.turnOffAlert(ruleModal.user)">Ok!</button>
		</div>
	</div>
</div>